.card {
  background: #333; /* Fondo oscuro para la tarjeta */
  border-radius: 6px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar contenido que sobresalga */
}

.card-image img {
  object-fit: cover; /* Ajustar la imagen para cubrir el área */
  max-height: 240px; /* Limitar la altura máxima de la imagen */
}

.audio {
  width: 100%; /* Hacer que el reproductor de audio ocupe el ancho completo */
  margin-top: 1rem; /* Espacio superior para el reproductor de audio */
}


.card-image img {
  max-height: 200px; /* Ajusta la altura de la imagen del álbum */
  object-fit: cover;
}

.card-content .title {
  margin-bottom: 0.5rem;
}

.card-content .subtitle {
  margin-bottom: 0.5rem;
}


.has-background-light {
  background-color: #ffffff; /* Color de fondo claro */
}

.has-background-dark {
  background-color: #333333; /* Color de fondo oscuro */
}

.has-text-light {
  color: #ffffff; /* Color del texto claro */
}

.has-text-dark {
  color: #000000; /* Color del texto oscuro */
}

/* Estilos adicionales para la barra de navegación */
.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.navbar-item {
  margin: 0 1rem;
  text-decoration: none;
}
